
@{
    ViewBag.Title = "contact";
}

<h2>Thông tin liên hệ</h2>
<table>
    <tr>
        <td>
            &#127979 Địa chỉ: 140 Lê Trọng Tấn, Tây Thạnh<br /><br />
            &#128341 Thời gian hoạt động: 7h30-11h30, 13h-17h<br /><br />

            &#128383 Số điện thoại liên hệ: 0973321XXX<br />
            <br />
            &#129489 Công tác viên: Huỳnh Vũ Anh Hào
        </td>
        <td><img src="~/Image_caro/MAP.JPG" style="width: 500px; height:300px"></td>
    </tr>
</table>
<br />
<form style="width:400px; border-radius:10px; background-color:white; justify-content:center; align-items:center">
    <div style="text-align:center">
        <h2>Liên hệ với chúng tôi</h2>
    </div>
    <div>
        <input style="width:100%; height:40px; font-size:16px;border:none; outline:none; border-bottom: 2px solid black" type="text" name="name" placeholder="Tên của bạn..."><br>
        <input style="width:100%; height:40px; font-size:16px;border:none; outline:none; border-bottom: 2px solid black" type="email" name="_replyto" placeholder="Email của bạn..."><br>
        <input style="width:100%; height:40px; font-size:16px;border:none; outline:none; border-bottom: 2px solid black" type="text" name="subject" placeholder="Tiêu đề"><br>
        <textarea style="width:100%; height:40px; font-size:16px;border:none; outline:none; border-bottom: 2px solid black" name='message' placeholder="Nội Dung Tin Nhắn..." rows="4"></textarea><br>
        <button class="btn-submit" type="submit" style="width: 250px; height: 40px; border-radius: 25px; border: none; outline:none; background-color: red; color:white;font-size:18px;font-weight: bold;margin:20px;cursor:pointer">Gửi Đi →</button>
    </div>
</form>


