
@{
    ViewBag.Title = "showroom";
}

<h2><a style="color:green">Nông sản sạch Việt Nam: </a>Nơi cung cấp sản phẩm dinh dưỡng hàng đầu Việt Nam</h2>
<img src="~/Image_caro/sr.JPG" style="width: 200px; height:150px" />
<img src="~/Image_caro/sr1.JPG" style="width: 200px; height:150px" />
<img src="~/Image_caro/sr2.JPG" style="width: 200px; height:150px" />
<img src="~/Image_caro/sr3.JPG" style="width: 200px; height: 150px" />
<br />
<p style="font-size: 15px; line-height:1.5">
    <b>Nông sản sạch</b> thực chất là những sản phẩm nông sản được những người nông dân chăn nuôi hoặc gây trồng nên nhưng phải đảm bảo theo một tiêu chuẩn nhất định. Những tiêu chuẩn được ở đây có thể kể đến như: Hạn chế tối đa việc sử dụng thuốc trừ sâu, phân bón hóa học và tránh sử dụng thuốc kích thích tăng trưởng. Quy trình sản xuất loại nông sản này phải được các chuyên gia kiểm định kỹ càng trước khi cấp phép và tung ra thị trường.

    Khái niệm nông sản sạch còn có thể hiểu là những sản phẩm được tạo nên từ những khu trồng trọt, chăn nuôi dựa theo tiêu chuẩn của <b>VietGap, GlobalGap,…</b> Bên cạnh đó còn có nhiều tiêu chuẩn khác để kiểm định về độ an toàn thực phẩm.
</p>
<br />
<img src="~/Image_caro/sr4.JPG" style="width: 100%; height: 300px" />
<br />
<p style="font-size:20px; line-height:1.5">
    Sự xuất hiện của nông sản sạch và xu hướng tiêu dùng sản phẩm này đã <b>mang lại rất nhiều lợi ích cho người tiêu dùng lẫn doanh nghiệp.</b>

    Về phía người tiêu dùng, sử dụng nông sản sạch chính là <b>sự lựa chọn thông minh cho sức khỏe</b> của chúng ta. Đặc biệt giữa thời kỳ dịch bệnh như hiện nay, việc chăm lo sức khỏe bằng cách cung cấp cho cơ thể những thực phẩm lành mạnh càng quan trọng hơn.

    Về phía doanh nghiệp, nông sản sạch <b>mang đến cơ hội kinh doanh to lớn</b> ở hiện tại và cả tương lai. Ngoài ra việc cung cấp những sản phẩm chất lượng cho người tiêu dùng còn thể hiện những giá trị cộng đồng sâu sắc.


    Mặt hàng nông sản sạch đang ngày một phổ biến với người tiêu dùng bởi những lợi ích mà sản phẩm mang lại cho sức khỏe.
</p>

