@model IEnumerable<QUANLYNONGSAN_NHOM2.Models.LOAISP>


<ul class="list-group">
    <li class="list-group-item" style="background-color:orange">LOẠI SẢN PHẨM</li>
    @{

        foreach (var item in Model)
        {

            <td><a href="~/LOAISP/show_CD/@item.MALOAI" class="list-group-item">@item.TENLOAI</a></td>
        }
    }
</ul>

