@model IEnumerable<QUANLYNONGSAN_NHOM2.Models.LOAISP>

@{
    ViewBag.Title = "show_CD";
}
<h2 style="text-align:center">DANH SÁCH NÔNG SẢN THEO LOẠI</h2>
@foreach (var item in Model)
{
    <div style="display: inline-block ; margin: 25px; text-align:center">
        <img src="~/Image_NONGSAN/@item.NS.ANH" width="150px" height="150px" />
        <p>@item.NS.TENNS</p>
        <a href="~/NONGSAN/Deatail_NS/@item.NS.MANS">Xem Chi tiết</a>
    </div>
}

